.form {
  width: 25vw;
  background-color: #12192c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding-bottom: 5vh; */
  margin-top: 1vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-family: "Poppins";
  padding-top: 1vh;
  border-radius: 5px;
  margin-bottom: 1vw;
}
.photo {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  background-color: #00c9a7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.form button {
  font-weight: bolder;
  width: 85%;
  height: 3vh;
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: #00c9a7;
  font-family: "Poppins";
  font-size: 2vh;
  color: white;
  margin-top: 1vh;
}
.form textarea {
  width: 20.5vw;
  margin-top: 1vh;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2vh;
  font-family: "Poppins";
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 1vh;
}
.form textarea::focus {
  outline: none;
}

.upload {
  background-color: #00c9a7;
  margin-top: 1vh;
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  font-family: "Poppins";
  border-radius: 5px;
}
.upload label {
  font-weight: bold;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
