.inputWrapper {
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  padding: 5px;
  border-style: solid;
  border-width: 1.3px;
  border-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.4);
}
.inputWrapper input {
  width: 19vw;
  height: 4vh;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2vh;
  font-family: "Poppins";
}

.inputWrapper input:focus {
  outline: none;
}

i {
  color: white;
  font-size: 2.3 vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
